name: Trigger - schedule 5 minutely

on:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: echo "Hello from scheduled workflow"